    <!-- PAPER -->
    <div class="publication-item" data-year="yyyy-mm" data-first-author="false">
        <h3 class="publication-title">TITLE</h3>
        <p class="publication-authors">
          <strong>Authors:</strong> AUTHORS
        </p>
        <p class="publication-journal">
          <strong>Journal:</strong> JOURNAL<span>|</span> <strong>Year:</strong> DATE <span>|</span> 
          <span class="abstract-container" onclick="toggleAbstract(this)">
            Abstract
            <img src="icons/document.png" alt="abstract Icon" class="abstract-icon">
          </span>
        </p>
        <div class="abstract">
          <p class="abstract-text">ABSTRACT</p>
          <a href="MANUSCRIPT_LINK" target="_blank" class="manuscript-link">
            View Manuscript
          </a>
        </div>
      </div>
      <div class="divider"></div>
  